body {
    font-family: 'Poppins', sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    padding: 1rem 0;
    background-color: #2c2c2c;
    text-align: center;
}

.header img {
    width: 15%;
    margin-right: 1rem;
}

.header-text {
    font-size: 1.5rem;
    margin: 0;
}

.location {
    font-size: 1rem;
}

.grid-list {
    list-style: none;
    padding: 0;
    margin: 2rem auto;
    max-width: 800px;
    overflow-y: auto;
    max-height: 400px;
}

.grid-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s;
}

.grid-list li:hover {
    transform: scale(1.02);
}

.grid-list img {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
    border-radius: 4px;
}

.grid-list p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24ff02;
}

.highlight-container {
    text-align: left;
    padding: 2rem 0;
}

.highlight-role {
    color: #6a9eff;
    font-size: 1.5rem ;
}

.highlight-box {
    margin: 0.5rem;
    background-color: #87bfa4;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.) }